<!DOCTYPE html>
<html>
  <head>
    <title>Instamojo Payment Gateway in Python</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body style="background-color:cornsilk;">
      <div class="container">
          <center><img src="../static/assets/dist/success.jpg"></center>
          <h1 class="text-center" style="color: darkgreen;">
              Your Payment is successful
          </h1>
          <br>
          <br>
          <center><p style="color:red;">Please check your confirmation email</p></center><br><br>
          
          <center><p>Thank You for your Valuable Support</p></center>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>